// Styling for the Gutenberg Cover block

.wp-block-cover {
    @apply p-8;
    min-height: 0 !important;
}

// .wp-block-cover__inner-container {
//     @apply ;
// }

@screen md {
    .wp-block-cover {
        @apply py-10 px-16;
        min-height: 55vh !important;
    }
}

// home page block styles
.home .wp-block-cover {
    h2, .wp-block-buttons {
        text-align: center;
        @apply my-6;
    }
    h2 {
        @apply text-2xl font-semibold leading-tight;
    }
    p {
        @apply hidden;
    }
    .wp-block-buttons a:hover{
        @apply no-underline;
    }
    .has-beige-background-color {
        background-color: rgba(248, 244, 241, 0.75);
        @apply rounded-sm;
    }
}

@screen sm {
    .home .wp-block-cover {
        h2, .wp-block-buttons {
            text-align: left;
        }
        h2 {
            @apply text-3xl font-thin leading-normal;
        }
        p {
            @apply block;
        }
    }
}

// Gutenberg cover positioning
// .has-custom-content-position {

// }

.is-position-top-left {
    @apply content-start justify-start;
}
.is-position-top-center {
    @apply content-start justify-center;
}
.is-position-top-right {
    @apply content-start justify-end;
}
.is-position-center-left {
    @apply content-center justify-start;
}
.is-position-center-center {
    @apply content-center justify-between;
}
.is-position-center-right{
    @apply content-center justify-end;
}
.is-position-bottom-left {
    @apply content-end justify-start;
}
.is-position-bottom-center {
    @apply content-end justify-center;
}
.is-position-bottom-right {
    @apply content-end justify-end;
}

