// Styling for the Gutenberg Latest Posts block

.wp-block-latest-posts {
@apply justify-between my-6;
}

.wp-block-latest-posts.is-grid li {
@apply mx-0;
}

.wp-block-latest-posts__featured-image.aligncenter {
@apply m-0;
}

.wp-block-latest-posts__list {

    li:before {
        content: none ;
    }

    li {
    @apply rounded-lg overflow-hidden shadow-lg border border-gray-100 list-none;

        a {
        @apply inline-block mx-6 mt-4 mb-2 font-medium;
        }

        a:hover {
            @apply text-orange;
        }

        time {
            @apply mx-6 mb-4;
        }

        img {
        @apply w-full m-0;
        }

    }

}
