<footer id="footer" class="bg-navy py-8 text-gray-100">
<div class="flex justify-between mx-auto py-4 w-11/12">
    <div class="w-1/3">
    &copy; {{"now"|date('Y')}} <a href="{{ site.url|e('esc_url') }}" title="home" rel="home">{{ site.name }}</a>. All rights reserved.
    </div>
    <div class=""><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></div>
</div>
</footer>
