<footer id="footer" class="bg-navy py-8 text-gray-100">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 mx-auto py-6 w-11/12">
        <div>{{ footer_area_one }}</div>
        <div>{{ footer_area_two }}</div>
        <div>{{ footer_area_three }}</div>
        <div>{{ footer_area_four }}</div>
    </div>
</footer>
