<footer id="footer" class="bg-navy py-8 text-gray-100">
    <div class="flex justify-between mx-auto py-4 w-11/12">
        <div>{{ footer_area_one }}</div>
        <div>{{ footer_area_two }}</div>
        <div>{{ footer_area_three }}</div>
        <div>{{ footer_area_four }}</div>
    </div>
</footer>
