<header id="header" class="bg-gray-100 lg:bg-white border-t-4 border-b-.5 border-gray-400">
    <nav id="nav-main" class="nav-main" role="navigation" x-data="{ isOpen: false }">

        {# mobile #}
        {% include 'header-mobile.twig' %}

        {# mobile expanded #}
        {% include 'header-expanded.twig' %}

        {# desktop #}
        {% include 'header-desktop.twig' %}

    </nav>
</header>
